<p id="notice"><%= notice %></p>

<p>
  <strong>From:</strong>
  <%= @reservation.from %>
</p>

<p>
  <strong>Till:</strong>
  <%= @reservation.till %>
</p>

<p>
  <strong>Employee:</strong>
  <%= @reservation.employee.full_name %>
</p>

<p>
  <strong>Bike:</strong>
  <%= @reservation.bike.ride %>
</p>

<%= link_to 'Edit', edit_reservation_path(@reservation) %> |
<%= link_to 'Back', reservations_path %>
