<!DOCTYPE html>
<html>
  <head>
    <title>Bikes</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'bikes', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header>
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <a href="/reservations" class="logo">Bike Timer</a>
          <ion-icon name="menu" class="hamburger hydrated" role="img"></ion-icon>
          <ul class="top-nav-link" id="list" style="margin-top: 0px;">
            <li class="top-nav-li-reservation">
              <a href="/reservations">Reservation</a>
            </li><li class="top-nav-li-employee">
              <a href="/employees">Employees</a>
            </li><li class="top-nav-li-bike">
                <a href="/bikes">Bikes</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </header>
    <%= yield %>
  </body>

  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

  
</html>
